.apps{
	position: absolute;top:0;right: 0;bottom: 0;left: 0;
	background: #ffffff
}
.apps-tabs-i{
	position: absolute;top:0;right: 0;bottom: 0;left: 0;	
}
.apps .apps-user{
	position: relative;
	width: 100%;height: 40%;background: #323940;-webkit-app-region: drag;
}
.apps .apps-user .apps-user-c{
	position: absolute;top:50%;left: 0;right: 0;
	margin-top: -58px;
}
.apps-user .apps-info-avatar{
	position: relative;
	margin:0 auto;
	width: 76px;height: 76px;
}
.apps-user .apps-info-avatar img{max-width: 100%;border-radius: 76px;overflow: hidden;}
.apps-user .apps-info-avatar .apps-info-exit{
	cursor: pointer;
	position: absolute;right: 0;bottom: 0;font-size: 14px;
	width: 20px;height: 20px;background: #fff;color: #494949;
	vertical-align: middle;text-align: center;
	border-radius: 20px;
}
.apps-info-exit i{
	vertical-align: top;
	margin-top:3px;
}
.apps-user .apps-info-name{
	margin-top: 20px;
	font-size: 16px;color: #ffffff;
	text-align: center;
}
.apps .apps-list{
	position: relative;
	width: 100%;height: 60%;background: #fff;-webkit-app-region: drag;
	text-align: center;
	padding:40px 0 0 0;
}
.apps-list-i{
	display: inline-block;
	vertical-align: top;
	margin:20px 15px 0 ;
	cursor: pointer;
}
.apps-list-i .apps-list-i-c{width: 80px;}
.apps-list-i .apps-list-i-c .apps-list-i-pic{
	width: 80px;height: 80px;display: table-cell;
	vertical-align: middle;text-align: center;
	background: #6f7378;
}
.apps-list-i-pic div{
	margin:0 auto;
	display: block;
	width: 30px;height: 30px;background: url(/build/images/apps-i-pic.png) no-repeat;
	background-size: cover;
}
.apps-list-i .apps-list-i-c .apps-list-i-val{
	margin-top: 20px;text-align: center;font-size: 14px;color: #666666;
}
.apps-create-btn{
	cursor: pointer;
}
.apps-create-btn .apps-list-i-pic{
	border:2px dashed #dddddd;
	background: none!important;
}
.apps-create-btn .apps-list-i-pic div{
	margin:0 auto;
	display: block;
	width: 30px;height: 30px;background: url(/build/images/apps-add.png) no-repeat;
	background-size: cover;
}
.xxxxx{
	width: 140px;
  height: 31px;
  background: url(http://192.168.1.73/dist/images/saas/newLite/logo-bg.png) no-repeat;
  background-size: cover;
}
.apps-create-btn:hover .apps-list-i-pic{
	background: #f0f0f0!important;
}
.apps-create-btn:hover .apps-list-i-val{
	color: #1b222a;
}


.create-form{
	position: absolute;top:0;right: 0;bottom: 0;left: 0;
}
.create-form-back{
	margin:25px 30px;height: 21px;line-height: 21px;
	cursor: pointer;
}
.create-form-back .create-form-back-pic{
	float: left;
	margin:3px 0 0 0;
	width: 7px;height: 15px;background: url(/build/images/back-btn.png) no-repeat;
	background-size: cover;
}
.create-form-back .create-form-back-val{
	float: left;
	margin-left: 10px;
}

.create-form .create-form-c{
	position: absolute;top:50%;margin-top: -260px;
	left: 50%;margin-left: -260px;
	width: 520px;
}
.create-form-c .create-form-title{
	text-align: center;
	color: #333333;
	font-size: 20px;
	margin-bottom: 40px;
}
.create-form-c .create-form-i{
	overflow-y: hidden;
	position: relative;
	margin-top: 30px;
}
.create-form-c .create-form-i:first-child{
}
.create-form-i .create-form-label{
	float: left;
	width: 90px;
	text-align: right;
	color: #333333;
	font-size: 14px;
	line-height: 36px;
}
.create-form-i .create-form-i-c{
	float: left;
	margin-left: 20px;
}
.create-form-i-c .create-form-input{
	padding:0 10px;
	width: 320px;
	height: 36px;line-height: 36px;border:1px solid #dddddd;
	border-radius: 3px;
}
.apps-tip-specail{
	display: inline-block;
	margin-left: 15px;line-height: 36px;
	color: #4174d9;
	font-size: 13px;
}

.chose-directory{
	display: inline-block;
	position: relative;
	width: 70px;
	height: 36px;
	border-radius: 3px;
	vertical-align: top;
	margin-left: 15px;
	text-align: center;
	overflow: hidden;
}
.chose-directory .apps-form-open-dir{
	position: relative;z-index: 2222;
	width: 100%;
	text-align: center;
	line-height: 34px;
	padding: 0;
	cursor:pointer;
	border:1px solid #999;
	color: #000;
	border-radius: 3px;
}
.chose-directory .chose-directory-input{
	position: absolute;right: 0pt;top: 0pt;bottom: 0;z-index: 1;font-size: 460px;margin: 0pt;padding: 0pt;cursor: pointer;opacity: 0;
}
.apps-form-open-dir:hover{
	// border-color: #4174d9;
	// color: #4174d9;
	background: #6f7378;
	color: #fff;
	border-color: #6f7378;
}
.create-form-c .create-form-buttons{
	text-align: center;
	margin-top: 50px;
}
.create-form-buttons .create-form-button{
	width: 120px;height: 36px;
	display: inline-block;margin-left: 60px;
	text-align: center;
	border-radius: 2px;

}
.create-form-buttons .create-form-button:first-child{
	margin-left: 0;
}
.create-form-button.cancel-btn{
	background: #e7e7e7;
	color: #999999;
}
.create-form-button.create-btn{
	background: #8d9094;
	color: #ffffff;
}
.create-form-button.create-btn[disabled]{
	opacity: 0.5
}


.apps-tip{
	position: relative;
	display: inline-block;
	margin:10px 0 0 15px;
	z-index: 2222222;
	vertical-align: top;
}
.apps-tip .apps-tip-icon{
	display: inline-block;width: 15px;height: 15px;background: url(/build/images/login-question.png) no-repeat;cursor: pointer;background-size: cover;
}
.apps-tip .apps-tip-c{
	display: none;position: absolute;right: -45px;border-radius: 10px;bottom: 35px;padding:0 10px;
	min-width: 250px;
}
.apps-tip-c .apps-tip-bg{
	position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #6790e1;opacity: 0.8;border-radius: 4px;
}
.apps-tip-c .apps-tip-val{
	position: relative;z-index: 2;padding: 10px 10px;color: #fff;line-height: 20px;font-size: 13px;
}
.apps-tip-c .apps-tip-cirtle{
	position: absolute;right: 50px;bottom: -9px;width: 0;height: 0;border-top: 9px solid transparent;border-right: 18px solid #85a6e7;border-bottom: 9px solid transparent;
}
.apps-tip:hover .apps-tip-c{
	display: block;
}

.project-remote{
	overflow:hidden;
}
.project-remote .create-form-i-c{
	overflow:hidden;
}
.create-form-checkboxs{
	float: left;margin-top: 9px;
}
.create-form-i-c .create-form-checkbox{
	float: left;margin-top: 2px;height: 16px;
	margin-left: 20px;
}
.create-form-i-c .create-form-checkbox:first-child{
	margin-left: 0;
}
.create-form-checkbox input{
	display: none;
  margin: 0;
  -webkit-appearance: checkbox;
  float: left;
}
.create-form-checkbox input + label{
	margin:0;
	float: left;
  width: 16px;
  height: 16px;
  background: url(/build/images/checkbox.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.create-form-checkbox input:checked + label{
	background: url(/build/images/checkbox-active.png) no-repeat;
  background-size: cover;
}

.create-form-checkbox span{
	float: left;line-height: 16px;
	margin-left: 10px;
}


