<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../styles/reset.css" />
  <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../../bower_components/underscore/underscore.js"></script>
  <link rel="stylesheet" href="../styles/info.css">
</head>
<body id="body">
<div class="main" id="main">
</div>
<webview id="aaa" partition ="trusted"></webview>
</body>
<script type="text/javascript">
	const basurl = process.cwd()
	const fs = require('fs');
  const path = require('path');
  const bodyParser = require('body-parser');
  const ide = require(basurl+'/package.json');
	const user = require(basurl+'/config.json');
	const projects = require(basurl+'/project.json');
  console.log(ide,user,projects,basurl);
	const __dirname = basurl;
  const request = require('request');
  const fsExtra = require('fs-extra');
  const chokidar = require('chokidar');
  const gui = require('nw.gui');
  const targz = require('tar.gz');
  const express = require('express');
  const platform = (process.platform == 'darwin'?'mac':'win')
  // require('nw.gui').Window.get().showDevTools()
</script>
<script type="text/javascript" src="../scripts/components/main.js"></script>
<script type="text/javascript" src="../scripts/platform/update.js"></script>
<script src="../scripts/index.js"></script>
<!-- <script type="text/javascript">
  $(function(){
    alert(projects.length);
    if(projects.length==0){
      $("body").append('<input type="file" nwdirectory id="choseDirectory"/>')
      var chooser = $('#choseDirectory');
      chooser.unbind('change');
      chooser.change(function(evt) {
        let val = $(this).val();
        let data = {
          "id":"xxxxxx",
          "name":"xxxxxx",
          "src":'file://'+val,
          "tools":{
            "babel":true,
            "completion":true,
            "compress":true
          },
          "appId":"6396ecf2cae620a838243a1f8858ddee",
          "corpId":"w6WXvWEqrmWZUTfA",
          "nonceStr":"sdfgrt76834fgdg344",
          "signature":"NOwxCwVAlKP5CNh0anR0PK5LoDghoR0P"
        } 
        projects.push(data);
        fs.writeFile('project.json',JSON.stringify(projects))
        targz().extract('a.tgz', val, function(err){
          if(err) console.log('Something is wrong ', err.stack);
          chooser.remove();
          let script = document.createElement('script');
          script.src = '../scripts/index.js'
          document.getElementById('body').appendChild(script)
        });
      });
      chooser.click(); 
    }else{
      let script = document.createElement('script');
      script.src = '../scripts/index.js'
      document.getElementById('body').appendChild(script)
    }
  })
</script> -->
</html>
