<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dva Demo</title>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../build/styles/reset.css" />
  <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../../bower_components/underscore/underscore.js"></script>
</head>
<body>
<div class="main" id="main">
</div>
</body>
<script type="text/javascript">
	const basurl = process.cwd()
	const fs = require('fs');
  const ide = require(basurl+'/package.json');
	const user = require(basurl+'/config.json');
	const project = require(basurl+'/project.json');
  console.log(ide,user,project)
	const __dirname = basurl;
  const request = require('superagent/superagent');
  // window.zhailei = 'zhailei'
  // window.addEventListener('message', function(message){
  //   fs.writeFile(basurl+'/test.js',message["data"],{encoding:'utf8'},function(){
  //   })
  // }, false);
  require('nw.gui').Window.get().showDevTools()
  const gulp = require('gulp');
  const util = require("gulp-util");
  gulp.task('styles', ()=>{
  	// console.log('1231231');
  	// gulp.watch([basurl+'/src/styles/*.scss'],function(){
  	// 	console.log('xxxxxxx')
  	// });
	});
	console.log(gulp.tasks.styles.fn())
  process.on('uncaughtException', function(e) {
  	console.log(e,'process')
  });
</script>
<script type="text/javascript" src="../scripts/main.js"></script>
<script src="../../build/scripts/index.js"></script>
</html>
